.div {
    background-color: pink; font-family: Verdana, DejaVU Sans, sans-serif; font-size: 24px;
}
#h2 {
    font-size: 36px; color: blue;
}
#h4 {
    background-color: lightgreen; font-size: 24px; font-weight: bold;
}
